<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DemoApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="AwImage Demo"
        android:theme="@style/Theme.AwImagedemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicLoadActivity"
            android:exported="false" />
        <activity
            android:name=".TransformActivity"
            android:exported="false" />
        <activity
            android:name=".AdvancedConfigActivity"
            android:exported="false" />
        <activity
            android:name=".ErrorHandlingActivity"
            android:exported="false" />
        <activity
            android:name=".CacheActivity"
            android:exported="false" />
        <activity
            android:name=".GifActivity"
            android:exported="false" />
        <activity
            android:name=".PreloadActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".FilterActivity"
            android:exported="false" />
        <activity
            android:name=".IntegrationsActivity"
            android:exported="false" />
    </application>
</manifest>